In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
df_basketballReference = pd.read_csv('data/basketballReference_L0.csv')

display(df_basketballReference.head(5))
display(df_basketballReference.info())

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Per 36 Minutes,Per 36 Minutes.1,Per 36 Minutes.2,Per 36 Minutes.3,Per 36 Minutes.4,Per 36 Minutes.5,Per 36 Minutes.6,...,Per 36 Minutes.8,Per 36 Minutes.9,Per 36 Minutes.10,Per 36 Minutes.11,Per 36 Minutes.12,Per 36 Minutes.13,Shooting,Shooting.1,Shooting.2,#NAME?
0,Rk,Player,Type,FG,FGA,3P,3PA,FT,FTA,ORB,...,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,-9999
1,1,Precious Achiuwa,Projected,5.3,10.6,0.6,2,1.6,2.5,3.4,...,2,1.2,1.3,1.6,2.8,12.8,0.501,0.292,0.637,achiupr01
2,2,Steven Adams,Projected,4.5,8.5,0.3,0.9,1.9,4.1,6.5,...,3.1,1,1.2,2.4,2.8,11.3,0.532,0.328,0.479,adamsst01
3,3,Bam Adebayo,Projected,7.5,15,0.8,2.2,3.7,4.8,2.4,...,4.3,1.3,0.8,2.3,2.3,19.5,0.5,0.356,0.767,adebaba01
4,4,Ochai Agbaji,Projected,5.1,10.8,1.9,5.2,0.9,1.3,1.4,...,2.1,1.1,0.7,1.2,2.6,13.1,0.475,0.373,0.722,agbajoc01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         569 non-null    object
 1   Unnamed: 1         569 non-null    object
 2   Unnamed: 2         569 non-null    object
 3   Per 36 Minutes     569 non-null    object
 4   Per 36 Minutes.1   569 non-null    object
 5   Per 36 Minutes.2   569 non-null    object
 6   Per 36 Minutes.3   569 non-null    object
 7   Per 36 Minutes.4   569 non-null    object
 8   Per 36 Minutes.5   569 non-null    object
 9   Per 36 Minutes.6   569 non-null    object
 10  Per 36 Minutes.7   569 non-null    object
 11  Per 36 Minutes.8   569 non-null    object
 12  Per 36 Minutes.9   569 non-null    object
 13  Per 36 Minutes.10  569 non-null    object
 14  Per 36 Minutes.11  569 non-null    object
 15  Per 36 Minutes.12  569 non-null    object
 16  Per 36 Minutes.13  569 non-null    object
 17  Shooting           569 non-null    object
 18  Shooting.1         569 non-null    object
 19  Shooting.2         569 non-null    object
 20  #NAME?             569 non-null    object
dtypes: object(21)
memory usage: 93.5+ KB

None

In [3]:
# Set the first row as header, then remove it from the data
df_basketballReference.columns = df_basketballReference.iloc[0]
df_basketballReference = df_basketballReference[1:].reset_index(drop=True)

In [4]:
df_basketballReference = df_basketballReference.drop(columns=['Rk'])
df_basketballReference = df_basketballReference.drop(columns=['Type'])
df_basketballReference = df_basketballReference.drop(columns=['ORB'])
df_basketballReference = df_basketballReference.drop(columns=['PF'])
df_basketballReference = df_basketballReference.drop(columns=['-9999'])

In [5]:
df_basketballReference = df_basketballReference.rename(columns={'Player': 'PLAYER'})
df_basketballReference = df_basketballReference.rename(columns={'FG': 'FGM'})
df_basketballReference = df_basketballReference.rename(columns={'FT': 'FTM'})
df_basketballReference = df_basketballReference.rename(columns={'3P': '3PM'})
df_basketballReference = df_basketballReference.rename(columns={'TRB': 'REB'})
df_basketballReference = df_basketballReference.rename(columns={'TOV': 'TO'})

In [6]:
df_basketballReference = df_basketballReference[
    [
        'PLAYER',
        'PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
    ]
]

In [7]:
numeric_cols = [
        'PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
]

# Convert safely â€” non-numeric entries become NaN
for col in numeric_cols:
    df_basketballReference[col] = pd.to_numeric(df_basketballReference[col], errors='coerce')

In [8]:
display(df_basketballReference.head(5))
display(df_basketballReference.info())

,PLAYER,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Precious Achiuwa,12.8,5.3,10.6,0.501,2.5,1.6,0.637,0.6,10.0,2.0,1.2,1.3,1.6
1,Steven Adams,11.3,4.5,8.5,0.532,4.1,1.9,0.479,0.3,13.6,3.1,1.0,1.2,2.4
2,Bam Adebayo,19.5,7.5,15.0,0.500,4.8,3.7,0.767,0.8,10.1,4.3,1.3,0.8,2.3
3,Ochai Agbaji,13.1,5.1,10.8,0.475,1.3,0.9,0.722,1.9,5.0,2.1,1.1,0.7,1.2
4,Santi Aldama,16.7,6.3,13.3,0.475,2.2,1.5,0.696,2.5,8.5,3.6,1.1,0.8,1.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  568 non-null    object
 1   PTS     568 non-null    float64
 2   FGM     568 non-null    float64
 3   FGA     568 non-null    float64
 4   FG%     568 non-null    float64
 5   FTA     568 non-null    float64
 6   FTM     568 non-null    float64
 7   FT%     568 non-null    float64
 8   3PM     568 non-null    float64
 9   REB     568 non-null    float64
 10  AST     568 non-null    float64
 11  STL     568 non-null    float64
 12  BLK     568 non-null    float64
 13  TO      568 non-null    float64
dtypes: float64(13), object(1)
memory usage: 62.3+ KB

None

In [9]:
# Convert to csv

df_basketballReference.to_csv("../L1/data/basketballReference_L1.csv")