In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
df_basketballReference = pd.read_csv('data/basketballReference_LIVE_L0.csv')

display(df_basketballReference.head(5))
display(df_basketballReference.info())

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1.0,Aaron Gordon,30.0,DEN,PF,1.0,1.0,39.0,17.0,21.0,...,0.0,8.0,8.0,2.0,0.0,1.0,2.0,1.0,50.0,NaN
1,2.0,Luka Dončić,26.0,LAL,PG,2.0,2.0,38.0,15.5,25.0,...,0.5,11.0,11.5,8.5,1.0,0.5,3.0,2.5,46.0,NaN
2,3.0,Shai Gilgeous-Alexander,27.0,OKC,PG,2.0,2.0,46.5,13.5,28.5,...,0.0,6.5,6.5,5.0,2.0,1.5,2.5,3.0,45.0,NaN
3,4.0,Tyrese Maxey,25.0,PHI,PG,1.0,1.0,41.0,13.0,24.0,...,0.0,2.0,2.0,6.0,2.0,1.0,1.0,5.0,40.0,NaN
4,5.0,Anthony Edwards,24.0,MIN,SG,2.0,2.0,37.0,12.5,23.5,...,0.5,5.0,5.5,3.0,0.0,1.0,3.0,2.0,36.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      368 non-null    float64
 1   Player  369 non-null    object
 2   Age     368 non-null    float64
 3   Team    368 non-null    object
 4   Pos     368 non-null    object
 5   G       368 non-null    float64
 6   GS      368 non-null    float64
 7   MP      368 non-null    float64
 8   FG      368 non-null    float64
 9   FGA     368 non-null    float64
 10  FG%     340 non-null    float64
 11  3P      368 non-null    float64
 12  3PA     368 non-null    float64
 13  3P%     294 non-null    float64
 14  2P      368 non-null    float64
 15  2PA     368 non-null    float64
 16  2P%     320 non-null    float64
 17  eFG%    340 non-null    float64
 18  FT      368 non-null    float64
 19  FTA     368 non-null    float64
 20  FT%     242 non-null    float64
 21  ORB     368 non-null    float64
 22  DRB     368 non-null    float64
 23  TRB     368 non-null    float64
 24  AST     368 non-null    float64
 25  STL     368 non-null    float64
 26  BLK     368 non-null    float64
 27  TOV     368 non-null    float64
 28  PF      368 non-null    float64
 29  PTS     368 non-null    float64
 30  Awards  0 non-null      float64
dtypes: float64(28), object(3)
memory usage: 89.5+ KB

None

In [3]:
# Rename 'Player' to 'PLAYER' if it exists
df_basketballReference = df_basketballReference.rename(columns={'Player': 'PLAYER'})
df_basketballReference = df_basketballReference.rename(columns={'MP': 'MPG'})
df_basketballReference = df_basketballReference.rename(columns={'FG': 'FGM'})
df_basketballReference = df_basketballReference.rename(columns={'FT': 'FTM'})
df_basketballReference = df_basketballReference.rename(columns={'3P': '3PM'})
df_basketballReference = df_basketballReference.rename(columns={'TRB': 'REB'})
df_basketballReference = df_basketballReference.rename(columns={'TOV': 'TO'})

# Define the exact column order to keep
keep_cols = [
    "PLAYER", "G", "MPG","PTS", "FGM", "FGA", "FG%", 
    "FTA", "FTM", "FT%", "3PM", "REB", 
    "AST", "STL", "BLK", "TO"
]

# Filter and reorder safely
df_basketballReference = df_basketballReference[
    [col for col in keep_cols if col in df_basketballReference.columns]
]

In [4]:
numeric_cols = [
        'G','MPG','PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
]

# Convert safely — non-numeric entries become NaN
for col in numeric_cols:
    df_basketballReference[col] = pd.to_numeric(df_basketballReference[col], errors='coerce')

In [5]:
display(df_basketballReference.head(5))
display(df_basketballReference.info())

,PLAYER,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Aaron Gordon,1.0,39.0,50.0,17.0,21.0,0.810,6.0,6.0,1.000,10.0,8.0,2.0,0.0,1.0,2.0
1,Luka Dončić,2.0,38.0,46.0,15.5,25.0,0.620,14.5,11.5,0.793,3.5,11.5,8.5,1.0,0.5,3.0
2,Shai Gilgeous-Alexander,2.0,46.5,45.0,13.5,28.5,0.474,20.0,16.5,0.825,1.5,6.5,5.0,2.0,1.5,2.5
3,Tyrese Maxey,1.0,41.0,40.0,13.0,24.0,0.542,8.0,7.0,0.875,7.0,2.0,6.0,2.0,1.0,1.0
4,Anthony Edwards,2.0,37.0,36.0,12.5,23.5,0.532,8.5,7.0,0.824,4.0,5.5,3.0,0.0,1.0,3.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  369 non-null    object
 1   G       368 non-null    float64
 2   MPG     368 non-null    float64
 3   PTS     368 non-null    float64
 4   FGM     368 non-null    float64
 5   FGA     368 non-null    float64
 6   FG%     340 non-null    float64
 7   FTA     368 non-null    float64
 8   FTM     368 non-null    float64
 9   FT%     242 non-null    float64
 10  3PM     368 non-null    float64
 11  REB     368 non-null    float64
 12  AST     368 non-null    float64
 13  STL     368 non-null    float64
 14  BLK     368 non-null    float64
 15  TO      368 non-null    float64
dtypes: float64(15), object(1)
memory usage: 46.3+ KB

None

In [6]:
# Convert to csv

df_basketballReference.to_csv("../L1/data/basketballReference_LIVE_L1.csv")